:root
  --theme-bg #330C31
  --theme-layer #770B73
  --theme-grad-begin #9f00a3
  --theme-grad-end #54fff5
  
  --ui-base #555
  --ui-highlight #666
  --ui-border #777
  --ui-light-border #8A8A8A

  --ui-disabled #333
  --ui-enabled #f900ff